__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so
*/.DS_Store
**/*.out
/__pycache__/ 
__pycache__
data/*
output/*
YOLO-World/*
third_party/ODISE
third_party/pretrained
third_party/scannet200_val.ckpt
scripts/download-scannet.py